body {
    background-color: lightblue;
    font-family: Arial, sans-serif;
}

.header {
    text-align: center;
    font-size: larger;
    font-weight: bolder;
    color:red;
    margin-bottom: 20px;
}

.section {
    background-color: white;
    color: black;
    padding: 15px;
    margin: 20px;
}

.footer {
    text-align: center;
    margin: 30px;
}

h2 {
    color: black;
    
}
